<?xml version="1.0"?>

<launch>
	
	<!-- Map server -->
	<arg name="map_file" default="$(find turtlebot_6wd)/maps/map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<!--
    <param name="/use_sim_time" value="false"/>
-->

	<include file="$(find turtlebot_6wd)/launch/localizacion.launch"/>
	<include file="$(find turtlebot_6wd)/launch/move_base.launch"/>

	<include file="$(find turtlebot_6wd)/launch/odom_laser.launch"/>
	
	<!--
	<include file="$(find turtlebot_6wd)/launch/tf.launch"/>
	-->
	
	<!--
	<include file="$(find turtlebot_6wd)/launch/view_navigation2.launch"/>
	-->

</launch>
